---
layout: null
---
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>{{ site.title }}</title>

	<link rel="canonical" href="{{ page.url | absolute_url }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">

	<style>
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

@media (min-width: 400px) {
	.container {
		width: 85%;
		padding: 0;
	}
}

@media (min-width: 550px) {
	.container {
		width: 80%;
	}
}
	</style>

<script>
(function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
;c.parentNode.insertBefore(a,c)
})(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

galite('create', 'UA-128645055-3', 'auto');
galite('send', 'pageview');
</script>
</head>
<body>
	<header>
		<h1>{{ site.title }}</h1>
	</header>
	<main>
{{ content }}
	</main>
	<footer>
		<small>&copy; 2016 Ress</small>
	</footer>
</body>
</html>
